.invite-position {
  padding-top: 10px;
  margin-bottom: -24px;

  .button-invite {
    height: 36px;
    margin-top: 19px;
    min-width: 0;
    margin-left: 24px;
  }

  md-input-container {
    font-size: 16px;
    margin-left: -2px;
    margin-right: 24px;
    min-width: 198px !important;
    width: 198px !important;
  }

  md-autocomplete {
    margin-right: 24px;
    md-input-container {
      margin-right: 0;
    }
  }

  md-select {
    min-width: 80px;
    display: block !important;
    &:focus md-select-value{
      color: rgba(0, 0, 0, 0.54) !important;
    }
    margin: 20px 0 0 0 !important;
    font-size: 14px !important;
    color: rgba(0, 0, 0, 0.54) !important;
    line-height: 18px !important;
    md-select-value {
      padding: 3px 1px 2px !important;
      > span {
        padding-top: 1px;
        opacity: 1 !important;
      }
    }
    .md-select-icon {
      color: rgba(0, 0, 0, 0.2) !important;
      margin: 2px 0 0 0 !important;
    }
  }
}

.sp-autocomplete-invite-position-list {
  .position-item {
    > p {
      color: rgba(0, 0, 0, 0.54);
      margin: 0;
      padding: 0;
      &.position-name {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.87);
      }
    }
  }
  > li {
    height: auto !important;
    line-height: 1.4 !important;
    padding: 13px 25px 15px;
  }
}
